@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --background-two: #f1f1f1;
  --foreground: #333;
  --border: #ddd;
  --primary: #3c7cc0;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

.dark {
  --background: #333;
  --background-two: #444;
  --foreground: #f9f9f9;
  --border: #555;
}

body {
  @apply bg-background text-foreground antialiased;
}

* {
  @apply border-border;
}
